{% extends "index.html" %}

{% block content %}
<h1>User Signup</h1>
<form action="/", method="post">
<table>
    <tbody>
        <tr>
            <td>Username:</td>
            <td><input name="username" type="text"></td>
            <td class="error" >{{username_error}}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input name ="pass1" type="password"></td>
            <td class="error">{{password_error}}</td>
        </tr>
        <tr>
            <td>Re-enter password:</td>
            <td><input name="pass2" type="password"></td>
            <td class="error">{{password_error}}</td>
        </tr>
        <tr>
            <td>Email (optional):</td>
            <td><input name="email" type="text"></td>
            <td class="error">{{email_error}}</td>
        </tr>
    </tbody>
</table>
<input type="submit" value="submit">
</form>
{% endblock %}